<h2>My Organisations</h2>

<% if @my_orgs.length>0 %>
  <ul>
    <% @my_orgs.each do |o| %>
      <li>
        <%= o.name %>
        <%# <%= link_to "View Shifts", %>
        <button id="edit-org">Edit</button>
        <div data-=<%=o.id%> id="form">
            <%= simple_form_for o do |f| %>
              <%= f.input :name %>
              <%= f.input :hourly_rate %>
              <%= f.submit "update" %>
            <% end %>
        </div>

          <button><%= link_to "Leave", leave_organisation_user_path(o), data: {turbo_method: :delete} %></button>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You're not in any organisations</p>
<% end %>

<h2>Other Organisations</h2>

<% if @not_my_orgs.length>0 %>
  <ul>
    <% @not_my_orgs.each do |o| %>
      <li>
        <%= o.name %>
        <%= link_to "Join", join_organisation_user_path(o), data: {turbo_method: :post}  %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Working hard! You're in every org!</p>
<% end %>

<h2>Create an organisation</h2>
<%= simple_form_for @organisation do |f| %>
  <%= f.input :name%>
  <%= f.input :hourly_rate %>
  <%= f.button :submit %>
  <% end %>
