<% if user_signed_in? %>
<div class="m-3">
  <%= link_to "back to all organisations", organisations_path%>
</div>

<div class="m-3">
  <h1>
    <%= @organisation.name %>
  </h1>
  <h2>
    Hourly Rate: £ <%= @organisation.hourly_rate %>
  </h2>
    <div class="d-flex" >
      <div class="me-2" data-controller="organisation">
        <button data-action="click->organisation#toggleForm" type="button" class="btn btn-dark">Edit</button>
          <%= simple_form_for @organisation, html: { data: { organisation_target: "form" }, class: "invisible" } do |f| %>
            <%= f.input :name %>
            <%= f.input :hourly_rate, placeholder:'£' %>
            <%= f.submit "update" %>
          <% end %>
      </div>
    <button type="button" class="btn btn-dark text-decoration-none"><%= link_to "Delete",
    organisation_path(@organisation),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></button>
  </div>
</div>

<div class="m-3">
  <h2>Shifts</h2>
  <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Shift Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">Finish Time</th>
        <th scope="col">Break Length(minites)</th>
        <th scope="col">Overnight</th>
        <th scope="col">Sunday Shift</th>
        <th scope="col">Hours Worked</th>
        <th scope="col">Shift Pay</th>
      </tr>
    </thead>
    <tbody>
      <% @shifts.reverse.each do |shift| %>

      <tr>
        <th scope="row"><%=shift.organisation_user.user.name%></th>

        <td><%=shift.shift_date %></td>
        <td><%= shift.start_time %></td>
        <td><%= shift.finish_time%></td>
        <td><%= shift.break_length %></td>
        <td><%= shift.overnight ? "☑️" : " "%></td>
        <td><%= shift.sunday_shift ? "☑️" : " "%></td>
        <td><%= shift.hours_worked %></td>
        <td>£ <%= shift.final_pay %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



<div class="shift-form">
      <%= simple_form_for [@organisation, @me, @shift] do |f| %>
      <div class="form-inputs">
        <%= f.input :shift_date, as: :date, require: true %>
        <%= f.input :start_time, as: :time, ignore_date: true, require: true %>
        <%= f.input :finish_time, as: :time, ignore_date: true, require: true %>
        <%= f.input :break_length, input_html: {min:"0", step:"10"} %>
        <%= f.submit "Create shift", class: "btn btn-secondary mt-3" %>
      </div>
      <% end %>
</div>
<% end %>
